.container {
    max-width: 600px;
    height: 100vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
    

    transition: box-shadow 0.8s, transform 0.5s;
}

.container:hover {
    box-shadow: 5px 5px 40px rgb(150, 149, 70);   
}

.tittle {
    font-size: 40px;  
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px  rgb(219, 221, 198);
    letter-spacing: 1rem;
    transition: transform 1s;
}

.tittle:hover {
    transform: translateY(10px);   
}

.arrow {
    display: block;
    white-space: nowrap;
    width: 20ch;
    animation: translate 5s steps(20) infinite,
    cursor infinite step-end alternate;
    overflow: hidden;
}

@keyframes translate {
0% { width: 0;}
25% { width: 25%;}
50% { width: 50%;}
75% { width: 75%;}
100% { width: 100%;}

}

.phrase {
    color: transparent;
    transition: color 1s, background-color 1s;
    font-size: 25px;
}

.phrase:hover {
    color: red;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    overflow:hidden;
}

.content__seccion {
    width: 100%;
    opacity: 0.8;
    background-color: #85929E ;
}

.content__header{
    margin-bottom: 5px;
    background-color: #34495E;
    opacity: 0.6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.img__header {
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.description {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    font-size: 20px;
    text-decoration: underline;
}

.temperature {
    display: inline;
    letter-spacing: 0.2rem;
    margin-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:900;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.content__footer {
    width: 100%;
}

.btn {
    border-radius: 10px;
    padding: 0.5rem;
    width: 80%;
    background-color: #34495E;
    color: aliceblue;
    cursor: pointer;
}

.loading {
    background-image:url(./assets/backBody.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.loading h1{ 
    width: 100vw;
    position: fixed;
    left: 0;
    top: 50%;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    animation-duration: 2s;
    animation-name: slidein;
} 


  
@keyframes slidein {
    from {
    margin-left: 100%;
    top: 50%;
}
  
to {
    margin-left: 0%;
    top: 50%;
    }
}