img {
    display: block;
    width: 100%;
    max-width: 150px;
    transition: transform 0.5s;
}

img:hover {
    transform: scale(1.1);
}

body {
    margin: 0;
    background-image: url(./assets/backBody.jpg);
    /* background-repeat:repeat-y(1); */
    background-size: cover;
    background-position: center;
   
    
}

ul  {
    list-style: none;
}

li {
    margin: 20px;
    transition: transform 0.5s;
    font-size: 20px;
    color: rgb(71, 0, 0);
}

li:hover {
    transform: scale(1.1);
}

h1, h2, h3, h4{
    margin: 5px;
}
